@{
    ViewBag.Title = "Testy Online";
}

<div class="jumbotron">
    <h1>Aplikacja Testy Online</h1>
    <p class="lead">Aplikacja Testy Online napisana na zaliczenie projektu. Głównym zadaniem aplikacji jest umożliwienie tworzenia i rozwiązaywania testów egzaminacyjnych.</p>
    <p>@Html.ActionLink("Rozpocznij Test »", "Index","Testy",null, new { @class= "btn btn-primary btn-lg" })</p>
</div>
